<div class="path-node page-node-type-page">
  <header
    role="banner"
    style="
      background-image: url('assets/sites/default/files/2020-08/about-banner.jpeg');
    "
  >
    <div class="region region-header">
      <div
        id="block-mrkliin-page-title"
        class="block block-core block-page-title-block"
      >
        <h1 class="page-title">
          <span
            property="schema:name"
            class="field field--name-title field--type-string field--label-hidden"
            >{{ "aboutMrKliin" | translate }}</span
          >
        </h1>
      </div>
      <div
        class="views-element-container block block-views block-views-blockpage-subtitle-block-1"
        id="block-views-block-page-subtitle-block-1"
      >
        <div>
          <div
            class="view view-page-subtitle view-id-page_subtitle view-display-id-block_1 js-view-dom-id-4d6584217dff41bdce85d88fa10bfaaf3732677bc8aaca0de7fe2fa74d785864"
          >
            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-field-basic-page-subtitle">
                  <div class="field-content">
                    <p>{{ "aboutMrKliinSubHeading" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="block-mrkliin-breadcrumbs"
        class="block block-system block-system-breadcrumb-block"
      >
        <nav
          class="breadcrumb"
          role="navigation"
          aria-labelledby="system-breadcrumb"
        >
          <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
          <ol>
            <li>
              <a routerLink="/">Home</a>
            </li>
          </ol>
        </nav>
      </div>
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
      <div class="region region-content">
        <div
          id="block-mrkliin-content"
          class="block block-system block-system-main-block"
        >
          <article
            data-history-node-id="11"
            role="article"
            about="/about-mr-kliin"
            typeof="schema:WebPage"
            class="node node--type-page node--view-mode-full"
          >
            <span
              property="schema:name"
              content="About Mr Kliin"
              class="rdf-meta hidden"
            ></span>
            <div class="node__content">
              <div
                class="clearfix text-formatted field field--name-field-basic-page-subtitle field--type-text-long field--label-hidden field__item"
              >
                <p>Your laundry picked up, cleaned and returned</p>
              </div>
              <div
                class="field field--name-field-paragraphs-ba field--type-entity-reference-revisions field--label-hidden field__items"
              >
                <div class="field__item">
                  <div
                    class="paragraph paragraph--type--text paragraph--view-mode--default"
                  >
                    <div class="content">
                      <h2>
                        <div
                          class="field field--name-field-title field--type-string field--label-hidden field__item"
                        >
                          {{ "whatWeDo" | translate }}
                        </div>
                      </h2>
                      <div
                        class="clearfix text-formatted field field--name-field-long-text field--type-text-long field--label-hidden field__item"
                      >
                        <p>
                          {{ "whatWeDoInfo" | translate }}
                        </p>
                        <p>
                          <strong>{{ "whatWeDoInfoBold" | translate }}</strong
                          ><br />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field__item">
                  <div
                    class="paragraph paragraph--type--how-does-it-work paragraph--view-mode--default"
                  >
                    <div class="content">
                      <h2>
                        <div
                          class="field field--name-field-title field--type-string field--label-hidden field__item"
                        >
                          {{ "whyPickUs" | translate }}
                        </div>
                      </h2>
                      <div
                        class="field field--name-field-subtitle field--type-string field--label-hidden field__item"
                      >
                        {{ "whyPickUsInfo" | translate }}
                      </div>
                      <div
                        class="field field--name-field-icon-item field--type-entity-reference-revisions field--label-hidden field__items"
                      >
                        <div class="field__item">
                          <div
                            class="paragraph paragraph--type--icon paragraph--view-mode--default"
                          >
                            <div
                              class="field field--name-field-icon field--type-image field--label-hidden field__item"
                            >
                              <img
                                src="assets/sites/default/files/2020-08/clock.png"
                                width="512"
                                height="512"
                                alt=""
                                typeof="foaf:Image"
                              />
                            </div>
                            <div
                              class="field field--name-field-title field--type-string field--label-hidden field__item"
                            >
                              {{ "noMoreTimeWasted" | translate }}
                            </div>
                            <div
                              class="clearfix text-formatted field field--name-field-long-text field--type-text-long field--label-hidden field__item"
                            >
                              <p>
                                {{ "info1" | translate }}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="field__item">
                          <div
                            class="paragraph paragraph--type--icon paragraph--view-mode--default"
                          >
                            <div
                              class="field field--name-field-icon field--type-image field--label-hidden field__item"
                            >
                              <img
                                src="assets/sites/default/files/2020-08/tshirt.png"
                                width="512"
                                height="512"
                                alt=""
                                typeof="foaf:Image"
                              />
                            </div>
                            <div
                              class="field field--name-field-title field--type-string field--label-hidden field__item"
                            >
                              {{ "superblyCleaned" | translate }}
                            </div>
                            <div
                              class="clearfix text-formatted field field--name-field-long-text field--type-text-long field--label-hidden field__item"
                            >
                              <p>
                                {{ "info2" | translate }}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="field__item">
                          <div
                            class="paragraph paragraph--type--icon paragraph--view-mode--default"
                          >
                            <div
                              class="field field--name-field-icon field--type-image field--label-hidden field__item"
                            >
                              <img
                                src="assets/sites/default/files/2020-08/save.png"
                                width="512"
                                height="512"
                                alt=""
                                typeof="foaf:Image"
                              />
                            </div>
                            <div
                              class="field field--name-field-title field--type-string field--label-hidden field__item"
                            >
                              {{ "affordablePricing" | translate }}
                            </div>
                            <div
                              class="clearfix text-formatted field field--name-field-long-text field--type-text-long field--label-hidden field__item"
                            >
                              <p>
                                {{ "info3" | translate }}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="field__item">
                          <div
                            class="paragraph paragraph--type--icon paragraph--view-mode--default"
                          >
                            <div
                              class="field field--name-field-icon field--type-image field--label-hidden field__item"
                            >
                              <img
                                src="assets/sites/default/files/2020-08/money.png"
                                width="512"
                                height="512"
                                alt=""
                                typeof="foaf:Image"
                              />
                            </div>
                            <div
                              class="field field--name-field-title field--type-string field--label-hidden field__item"
                            >
                              {{ "noUpfrontPayment" | translate }}
                            </div>
                            <div
                              class="clearfix text-formatted field field--name-field-long-text field--type-text-long field--label-hidden field__item"
                            >
                              <p>
                                {{ "info4" | translate }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field__item">
                  <div
                    class="paragraph paragraph--type--text paragraph--view-mode--default"
                  >
                    <div class="content">
                      <h2>
                        <div
                          class="field field--name-field-title field--type-string field--label-hidden field__item"
                        >
                          {{ "whatWePromise" | translate }}
                        </div>
                      </h2>
                      <div
                        class="clearfix text-formatted field field--name-field-long-text field--type-text-long field--label-hidden field__item"
                      >
                        <p>
                          {{ "whatWePromiseInfo" | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="footer-insert"></div>
  </main>
</div>
