<div class="path-node page-node-type-page page-faq">
  <header role="banner">
    <div class="region region-header">
      <div
        id="block-mrkliin-page-title"
        class="block block-core block-page-title-block"
      >
        <h1 class="page-title" *ngIf="this.myapp.activeLang == 'en'">
          Privacy Policy
        </h1>
        <h1 class="page-title" *ngIf="this.myapp.activeLang == 'es'">
          Política de privacidad
        </h1>
      </div>
      <div
        id="block-mrkliin-breadcrumbs"
        class="block block-system block-system-breadcrumb-block"
      >
        <nav
          class="breadcrumb"
          role="navigation"
          aria-labelledby="system-breadcrumb"
        >
          <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
          <ol>
            <li>
              <a href="/">Home</a>
            </li>
          </ol>
        </nav>
      </div>
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
      <div class="region region-content">
        <div
          id="block-mrkliin-content"
          class="block block-system block-system-main-block"
        >
          <!--English Policy-->
          <div
            class="content section-terms"
            *ngIf="this.myapp.activeLang == 'en'"
          >
            <h4>Privacy Policy</h4>
            <p>
              Our privacy policy is designed to assist you in understanding how
              we collect and use the personal information you provide to us, and
              upload to our servers, and to assist you in making informed
              decisions when using our site and our products and services.
            </p>
            <h4>What information do we collect?</h4>
            <p>
              When you use our services or visit our Web site, you may provide
              us with two types of information: personal information you
              knowingly choose to disclose that is collected on an individual
              basis and Web site use information collected on an aggregate basis
              as you and others browse our Web site. You may also provide us
              with certain information in connection with specification
              transactions: Information You Provide When You Make a Purchase. If
              you make a purchase from us, we collect a credit/debit card number
              and related financial information (such as CVV, expiration date,
              and billing address), or other payment information, depending on
              the form of payment you choose.
            </p>
            <p>
              Information About Your Clothing. We may also collect information
              on the clothes you are giving us for cleaning, including type,
              service requested, brand, color, size, and photos. We do this to
              provide you with an enhanced experience when using the Service,
              such as sending an itemized list of items we picked up for
              cleaning, and providing you with customized offers or promotions
              based on the information we collect about your clothing.
            </p>
            <h4>Registration information</h4>
            <p>
              You will provide us information about yourself when you register
              for an account with Mr Kliin. During registration, you will be
              required to provide us with your first and last name, a valid
              e-mail address, phone number and your home address. However, we
              will request optional additional information which will be used to
              fill in fields that exist in your account profile. This
              information is held in confidence and will not be disclosed to any
              outside resource for any reason, except where such disclosure is
              required by law.
            </p>
            <h4>Email information</h4>
            <p>
              If you choose to correspond with us through email, we may retain
              the content of your email messages together with your email
              address and our responses for internal reference purposes only.
            </p>
            <h4>Website use information</h4>
            <p>
              Similar to other commercial Web sites, our Web site utilizes a
              standard technology called “cookies” (see explanation below, “What
              Are Cookies?”) and Web server logs to collect information about
              how our Web site is used. Information gathered through cookies and
              Web server logs may include the date and time of visits, the pages
              viewed, time spent at our Web site, and non-personal actions taken
              while using our services. This information is collected for the
              sole purpose of improving our services and helping us serve you
              better. This information is not disclosed to any outside resource
              for any reason, except where such disclosure is required by law.
            </p>
            <h4>How do we use information that you provide to us?</h4>
            <p>
              Broadly speaking, we use personal information for the purposes of
              providing you with the tools necessary to properly use our
              services, administer technical support when it is requested, and
              provide you with a personalized experience while using our
              services. We will never sell or provide to any 3rd party your
              personal or non-personal information, except where such disclosure
              is required by law.
            </p>
            <h4>What are cookies?</h4>
            <p>
              A cookie is a very small text document, which often includes an
              anonymous unique identifier. When you visit a Web site, that
              site’s computer asks your computer for permission to store this
              file in a part of your hard drive specifically designated for
              cookies. Each Web site can send its own cookie to your browser if
              your browser’s preferences allow it, but (to protect your privacy)
              your browser only permits a Web site to access the cookies it has
              already sent to you, not the cookies sent to you by other sites.
            </p>
            <h4>How do we use information we collect from cookies?</h4>
            <p>
              The information collected from cookies is used solely for session
              purposes in order to maintain a seamless experience throughout
              your use of our services.
            </p>
            <h4>Sharing information via third parties</h4>
            <p>
              We do not disclose any of your personal information to any third
              parties for any purpose. All nonpersonal information collected by
              our services is used strictly for internal purposes to provide you
              with a better service environment, and personal information
              collected is never observed directly by anyone, including internal
              personnel, for any reason, unless express permission is granted by
              you, or where such disclosure is required by law.
            </p>
            <h4>Notice of new services and changes</h4>
            <p>
              Occasionally, we may also use the information we collect to notify
              you about important changes to our Web site, new services and
              special offers we think you will find valuable. As our customer,
              you will be given the opportunity to notify us of your desire not
              to receive these offers by sending us an email request at
              info@mrkliin.com or texting 690 849 277
            </p>
            <h4>How do we protect your information?</h4>
            <p>
              Proper measures have been taken to ensure a secure, encrypted and
              protected environment within our services, databases and
              interfaces accessed through our services. How do we secure
              information transmission?
            </p>
            <p>
              Email is not recognized as a secure medium of communication. For
              this reason, we request that you do not send private information
              to us by email. All information transferred to our servers through
              our services will be transmitted securely via Secure Sockets Layer
              (SSL) encryption. Please contact info@mrkliin.com or WhatsApp us
              at 690 849 277 if you have any questions or concerns.
            </p>
            <h4>How can you access and correct your information?</h4>
            <p>
              You have detailed access and the ability to edit the vast majority
              of your personal information through your account online, and you
              may also request access to all your personally identifiable
              information that we collect online and maintain in our database by
              emailing info@mrkliin.com or WhatsApp us at 690 849 277
            </p>
            <h4>Certain disclosures</h4>
            <p>
              We may disclose your personal information if required to do so by
              law or subpoena or if we believe that such action is necessary to
              (a) conform to the law or comply with legal process served on us;
              (b) protect and defend our rights and property, the Site, and the
              users of the Site; or (c) act under circumstances to protect the
              safety of users of the Site, or us.
            </p>
            <h4>What about websites linked to our Web site?</h4>
            <p>
              We are not responsible for the practices employed by Web sites
              linked to or from our Web site nor the information or content
              contained therein. Often links to other Web sites are provided
              solely as pointers to information on topics that may be useful to
              the users of our Web site. Please remember that when you use a
              link to go from our Web site to another Web site, our Privacy
              Policy is no longer in effect. Your browsing and interaction on
              any other Web site, including Web sites which have a link on our
              Web site, is subject to that Web site’s own rules and policies.
              Please read over those rules and policies before proceeding
              carefully.
            </p>
            <h4>Website use information</h4>
            <p>
              By using our Web site, you consent to our collection and use of
              your personal information as described in this Privacy Policy. If
              we change our privacy policies and procedures, we will post those
              changes on our Web site to keep you aware of what information we
              collect, how we use it and under what circumstances we may
              disclose it.
            </p>
            <h4>How to contact us</h4>
            <p>
              If you have any questions or concerns about this Privacy Policy or
              the practices described herein, you may contact us at
              info@markliin.com or WhatsApp 690 849 277
            </p>
            <br />
            <br />
            <hr />
            <h4>COOKIE POLICY</h4>
            <p>
              This is the Cookie Policy for Mr Kliin, accessible from
              www.mrkliin.com
            </p>
            <h4>What Are Cookies</h4>
            <p>
              As is common practice with almost all professional websites this
              site uses cookies, which are tiny files that are downloaded to
              your computer, to improve your experience. This page describes
              what information they gather, how we use it and why we sometimes
              need to store these cookies. We will also share how you can
              prevent these cookies from being stored however this may downgrade
              or 'break' certain elements of the sites functionality.
            </p>
            <p>
              For more general information on cookies, please read "What Are
              Cookies". Information regarding cookies from this Cookies Policy
              are from the Privacy Policy Generator.
            </p>
            <h4>How We Use Cookies</h4>
            <p>
              We use cookies for a variety of reasons detailed below.
              Unfortunately in most cases there are no industry standard options
              for disabling cookies without completely disabling the
              functionality and features they add to this site. It is
              recommended that you leave on all cookies if you are not sure
              whether you need them or not in case they are used to provide a
              service that you use.
            </p>
            <h4>Disabling Cookies</h4>
            <p>
              You can prevent the setting of cookies by adjusting the settings
              on your browser (see your browser Help for how to do this). Be
              aware that disabling cookies will affect the functionality of this
              and many other websites that you visit. Disabling cookies will
              usually result in also disabling certain functionality and
              features of the this site. Therefore it is recommended that you do
              not disable cookies. This Cookies Policy was created with the help
              of the Cookies Policy Generator from CookiePolicyGenerator.com.
            </p>
            <h4>The Cookies We Set</h4>
            <p>
              - Account related cookies<br />
              If you create an account with us then we will use cookies for the
              management of the signup process and general administration. These
              cookies will usually be deleted when you log out however in some
              cases they may remain afterwards to remember your site preferences
              when logged out.
            </p>
            <p>
              - Login related cookies<br />
              We use cookies when you are logged in so that we can remember this
              fact. This prevents you from having to log in every single time
              you visit a new page. These cookies are typically removed or
              cleared when you log out to ensure that you can only access
              restricted features and areas when logged in.
            </p>
            <p>
              - Orders processing related cookies<br />
              This site offers e-commerce or payment facilities and some cookies
              are essential to ensure that your order is remembered between
              pages so that we can process it properly.
            </p>
            <p>
              - Forms related cookies<br />
              When you submit data to through a form such as those found on
              contact pages or comment forms cookies may be set to remember your
              user details for future correspondence.
            </p>
            <h4>Third Party Cookies</h4>
            <p>
              In some special cases we also use cookies provided by trusted
              third parties. The following section details which third party
              cookies you might encounter through this site.
            </p>
            <p>
              From time to time we test new features and make subtle changes to
              the way that the site is delivered. When we are still testing new
              features these cookies may be used to ensure that you receive a
              consistent experience whilst on the site whilst ensuring we
              understand which optimisations our users appreciate the most.
            </p>
            <h4>More Information</h4>
            <p>
              Hopefully that has clarified things for you and as was previously
              mentioned if there is something that you aren't sure whether you
              need or not it's usually safer to leave cookies enabled in case it
              does interact with one of the features you use on our site.
            </p>
            <p>
              However if you are still looking for more information then you can
              contact us through one of our preferred contact methods:<br />
              Email: www.info@mrkliin.com
            </p>
          </div>

          <!--Spanish Policy-->
          <div
            class="content section-terms"
            *ngIf="this.myapp.activeLang == 'es'"
          >
            <h4>Política de privacidad</h4>
            <p>
              Nuestra política de privacidad está diseñada para ayudarlo a
              comprender cómo recopilamos y usamos la información personal que
              nos proporciona y la cargamos en nuestros servidores, y para
              ayudarlo a tomar decisiones informadas al usar nuestro sitio y
              nuestros productos y servicios.
            </p>
            <h4>¿Qué información recopilamos?</h4>
            <p>
              Cuando utiliza nuestros servicios o visita nuestro sitio web,
              puede proporcionarnos dos tipos de información: la información
              personal que deliberadamente elige revelar que se recopila de
              forma individual y la información de uso del sitio web recopilada
              de forma agregada a medida que usted y otros navegan. nuestra
              página web. También puede proporcionarnos cierta información en
              relación con transacciones específicas: Información que
              proporciona cuando realiza una compra. Si realiza una compra con
              nosotros, recopilamos un número de tarjeta de crédito / débito e
              información financiera relacionada (como CVV, fecha de vencimiento
              y dirección de facturación) u otra información de pago, según la
              forma de pago que elija.
            </p>
            <p>
              Información sobre su ropa. También podemos recopilar información
              sobre la ropa que nos está dando para la limpieza, incluido el
              tipo, el servicio solicitado, la marca, el color, el tamaño y las
              fotos. Hacemos esto para brindarle una experiencia mejorada al
              usar el Servicio, como enviar una lista detallada de los artículos
              que recogimos para limpiar y brindarle ofertas o promociones
              personalizadas basadas en la información que recopilamos sobre su
              ropa.
            </p>
            <h4>Información de Registro</h4>
            <p>
              Nos proporcionará información sobre usted cuando se registre para
              una cuenta con Mr Kliin. Durante el registro, se le pedirá que nos
              proporcione su nombre y apellido, una dirección de correo
              electrónico válida, un número de teléfono y su domicilio. Sin
              embargo, solicitaremos información adicional opcional que se
              utilizará para completar los campos que existen en el perfil de su
              cuenta. Esta información se mantiene de forma confidencial y no se
              divulgará a ningún recurso externo por ningún motivo, excepto
              cuando la ley exija dicha divulgación
            </p>
            <h4>Información de correo electrónico</h4>
            <p>
              Si elige comunicarse con nosotros por correo electrónico, podemos
              retener el contenido de sus mensajes de correo electrónico junto
              con su dirección de correo electrónico y nuestras respuestas solo
              con fines de referencia interna.
            </p>
            <h4>Información de uso del sitio web</h4>
            <p>
              Al igual que otros sitios web comerciales, nuestro sitio web
              utiliza una tecnología estándar llamada "cookies" (consulte la
              explicación a continuación, "¿Qué son las cookies?") Y registros
              del servidor web para recopilar información sobre cómo se utiliza
              nuestro sitio web. La información recopilada a través de las
              cookies y los registros del servidor web puede incluir la fecha y
              hora de las visitas, las páginas visitadas, el tiempo que pasó en
              nuestro sitio web y las acciones no personales tomadas durante el
              uso de nuestros servicios. Esta información se recopila con el
              único propósito de mejorar nuestros servicios y ayudarnos a
              brindarle un mejor servicio. Esta información no se divulga a
              ningún recurso externo por ningún motivo, excepto cuando la ley
              exija dicha divulgación.
            </p>
            <h4>¿Cómo utilizamos la información que nos proporciona?</h4>
            <p>
              En términos generales, utilizamos la información personal con el
              fin de brindarle las herramientas necesarias para utilizar
              correctamente nuestros servicios, administrar el soporte técnico
              cuando se lo solicite y brindarle una experiencia personalizada
              mientras utiliza nuestros servicios. Nunca venderemos ni
              proporcionaremos a terceros su información personal o no personal,
              excepto cuando la ley exija dicha divulgación.
            </p>
            <h4>¿Qué son las cookies?</h4>
            <p>
              Una cookie es un documento de texto muy pequeño, que a menudo
              incluye un identificador único anónimo. Cuando visita un sitio
              web, la computadora de ese sitio le pide permiso a su computadora
              para almacenar este archivo en una parte de su disco duro
              específicamente designada para cookies. Cada sitio web puede
              enviar su propia cookie a su navegador si las preferencias de su
              navegador lo permiten, pero (para proteger su privacidad) su
              navegador solo permite que un sitio web acceda a las cookies que
              ya le ha enviado, no a las cookies enviadas por otros sitios.
            </p>
            <h4>
              ¿Cómo utilizamos la información que recopilamos de las cookies?
            </h4>
            <p>
              La información recopilada de las cookies se utiliza únicamente
              para fines de sesión con el fin de mantener una experiencia fluida
              durante el uso de nuestros servicios.
            </p>
            <h4>Compartir información a través de terceros</h4>
            <p>
              No divulgamos su información personal a terceros para ningún
              propósito. Toda la información no personal recopilada por nuestros
              servicios se utiliza estrictamente para fines internos para
              brindarle un mejor entorno de servicio, y la información personal
              recopilada nunca es observada directamente por nadie, incluido el
              personal interno, por ningún motivo, a menos que usted otorgue un
              permiso expreso, o donde tal divulgación sea requerida por ley.
            </p>
            <h4>Aviso de nuevos servicios y cambios</h4>
            <p>
              Ocasionalmente, también podemos utilizar la información que
              recopilamos para notificarle sobre cambios importantes en nuestro
              sitio web, nuevos servicios y ofertas especiales que creemos que
              encontrará valiosas. Como nuestro cliente, tendrá la oportunidad
              de notificarnos su deseo de no recibir estas ofertas enviándonos
              una solicitud por correo electrónico a info@mrkliin.com o enviando
              un mensaje de texto al 690 849 277
            </p>
            <h4>¿Cómo protegemos tu información?</h4>
            <p>
              Se han tomado las medidas adecuadas para garantizar un entorno
              seguro, cifrado y protegido dentro de nuestros servicios, bases de
              datos e interfaces a las que se accede a través de nuestros
              servicios. ¿Cómo aseguramos la transmisión de información?
            </p>
            <p>
              El correo electrónico no se reconoce como un medio de comunicación
              seguro. Por este motivo, le solicitamos que no nos envíe
              información privada por correo electrónico. Toda la información
              transferida a nuestros servidores a través de nuestros servicios
              se transmitirá de forma segura a través del cifrado Secure Sockets
              Layer (SSL). Póngase en contacto con info@mrkliin.com o WhatsApp
              al 690 849 277 si tiene alguna pregunta o inquietud.
            </p>
            <h4>¿Cómo puede acceder y corregir su información?</h4>
            <p>
              Tiene acceso detallado y la capacidad de editar la gran mayoría de
              su información personal a través de su cuenta en línea, y también
              puede solicitar acceso a toda su información de identificación
              personal que recopilamos en línea y mantenemos en nuestra base de
              datos enviando un correo electrónico a info@mrkliin.com o Envíanos
              un WhatsApp al 690 849 277
            </p>
            <h4>Ciertas divulgaciones</h4>
            <p>
              Podemos divulgar su información personal si así lo requiere la ley
              o una citación o si creemos que dicha acción es necesaria para (a)
              cumplir con la ley o cumplir con el proceso legal que se nos ha
              presentado; (b) proteger y defender nuestros derechos y propiedad,
              el Sitio y los usuarios del Sitio; o (c) actuar bajo
              circunstancias para proteger la seguridad de los usuarios del
              Sitio o de nosotros.
            </p>
            <h4>
              ¿Qué pasa con los sitios web vinculados a nuestro sitio web?
            </h4>
            <p>
              No somos responsables de las prácticas empleadas por los sitios
              web vinculados hacia o desde nuestro sitio web ni de la
              información o el contenido que contiene. A menudo, los enlaces a
              otros sitios web se proporcionan únicamente como indicadores de
              información sobre temas que pueden ser útiles para los usuarios de
              nuestro sitio web. Recuerde que cuando utiliza un enlace para ir
              de nuestro sitio web a otro sitio web, nuestra Política de
              privacidad deja de estar en vigor. Su navegación e interacción en
              cualquier otro sitio web, incluidos los sitios web que tienen un
              enlace en nuestro sitio web, están sujetos a las propias reglas y
              políticas de ese sitio web. Lea esas reglas y políticas antes de
              proceder con cuidado.
            </p>
            <h4>Información de uso del sitio web</h4>
            <p>
              Al utilizar nuestro sitio web, usted da su consentimiento para que
              recopilemos y usemos su información personal como se describe en
              esta Política de privacidad. Si cambiamos nuestras políticas y
              procedimientos de privacidad, publicaremos esos cambios en nuestro
              sitio web para mantenerlo al tanto de la información que
              recopilamos, cómo la usamos y bajo qué circunstancias podemos
              divulgarla.
            </p>
            <h4>Cómo contactarnos</h4>
            <p>
              Si tiene alguna pregunta o inquietud sobre esta Política de
              privacidad o las prácticas aquí descritas, puede comunicarse con
              nosotros en info@markliin.com o WhatsApp 690 849 277
            </p>
            <br />
            <br />
            <hr />
            <h4>POLÍTICA DE COOKIES</h4>
            <p>
              Esta es la Política de cookies para Mr Kliin, accesible desde
              www.mrkliin.com
            </p>
            <h4>¿Qué son las cookies?</h4>
            <p>
              Como es práctica común en casi todos los sitios web profesionales,
              este sitio utiliza cookies, que son pequeños archivos que se
              descargan en su computadora para mejorar su experiencia. Esta
              página describe qué información recopilan, cómo la usamos y por
              qué a veces necesitamos almacenar estas cookies. También
              compartiremos cómo puede evitar que estas cookies se almacenen,
              sin embargo, esto puede degradar o "romper" ciertos elementos de
              la funcionalidad del sitio.
            </p>
            <p>
              Para obtener más información general sobre las cookies, lea "Qué
              son las cookies". La información sobre las cookies de esta
              Política de cookies proviene del Generador de políticas de
              privacidad.
            </p>
            <h4>Cómo usamos las cookies</h4>
            <p>
              Usamos cookies por una variedad de razones que se detallan a
              continuación. Desafortunadamente, en la mayoría de los casos, no
              existen opciones estándar de la industria para deshabilitar las
              cookies sin deshabilitar por completo la funcionalidad y las
              características que agregan a este sitio. Se recomienda que deje
              todas las cookies si no está seguro de si las necesita o no en
              caso de que se utilicen para proporcionar un servicio que usted
              utiliza.
            </p>
            <h4>Desactivación de cookies</h4>
            <p>
              Puede evitar la configuración de cookies ajustando la
              configuración de su navegador (consulte la Ayuda de su navegador
              para saber cómo hacerlo). Tenga en cuenta que deshabilitar las
              cookies afectará la funcionalidad de este y muchos otros sitios
              web que visite. La desactivación de las cookies generalmente
              resultará en la desactivación también de ciertas funciones y
              características de este sitio. Por lo tanto, se recomienda que no
              desactive las cookies. Esta Política de cookies se creó con la
              ayuda del Generador de políticas de cookies de
              CookiePolicyGenerator.com
            </p>
            <h4>Las cookies que establecemos</h4>
            <p>
              - Cookies relacionadas con la cuenta<br />
              Si crea una cuenta con nosotros, utilizaremos cookies para la
              gestión del proceso de registro y la administración general. Estas
              cookies generalmente se eliminarán cuando cierre la sesión, sin
              embargo, en algunos casos, pueden permanecer después para recordar
              las preferencias de su sitio cuando se cierre la sesión.
            </p>
            <p>
              - Cookies relacionadas con el inicio de sesión<br />
              Usamos cookies cuando inicia sesión para que podamos recordar este
              hecho. Esto evita que tenga que iniciar sesión cada vez que visita
              una página nueva. Estas cookies generalmente se eliminan o borran
              cuando cierra la sesión para asegurarse de que solo pueda acceder
              a funciones y áreas restringidas cuando inicie sesión.
            </p>
            <p>
              - Pedidos que procesan cookies relacionadas<br />
              Este sitio ofrece comercio electrónico o facilidades de pago y
              algunas cookies son esenciales para garantizar que su pedido se
              recuerde entre páginas para que podamos procesarlo correctamente.
            </p>
            <p>
              - Cookies relacionadas con formularios<br />
              Cuando envía datos a través de un formulario como los que se
              encuentran en las páginas de contacto o los formularios de
              comentarios, las cookies pueden configurarse para recordar sus
              datos de usuario para correspondencia futura.
            </p>
            <h4>Cookies de terceros</h4>
            <p>
              En algunos casos especiales, también utilizamos cookies
              proporcionadas por terceros de confianza. La siguiente sección
              detalla qué cookies de terceros puede encontrar a través de este
              sitio.
            </p>
            <p>
              De vez en cuando probamos nuevas funciones y realizamos cambios
              sutiles en la forma en que se entrega el sitio. Cuando todavía
              estamos probando nuevas funciones, estas cookies se pueden
              utilizar para garantizar que reciba una experiencia constante
              mientras está en el sitio, al tiempo que nos aseguramos de que
              entendemos qué optimizaciones aprecian más nuestros usuarios
            </p>
            <h4>Más información</h4>
            <p>
              Con suerte, eso le ha aclarado las cosas y, como se mencionó
              anteriormente, si hay algo que no está seguro de si necesita o no,
              generalmente es más seguro dejar las cookies habilitadas en caso
              de que interactúe con una de las funciones que usa en nuestro
              sitio.
            </p>
            <p>
              Sin embargo, si aún está buscando más información, puede
              contactarnos a través de uno de nuestros métodos de contacto
              preferidos:<br />
              Correo electrónico: www.info@mrkliin.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
