<div class="path-user">
  <div class="page-user page-cart">
    <header role="banner">
      <div class="region region-header">
        <div
          id="block-mrkliin-page-title"
          class="block block-core block-page-title-block"
        >
          <h1 class="page-title">{{ "resetPassword" | translate }}</h1>
        </div>
        <div
          id="block-mrkliin-primary-local-tasks"
          class="block block-core block-local-tasks-block"
        >
          <nav class="tabs" role="navigation" aria-label="Tabs">
            <h2 class="visually-hidden">Primary tabs</h2>
            <ul class="tabs primary">
              <li>
                {{ "resettSubHeading" | translate }}
              </li>
            </ul>
          </nav>
        </div>
        <div
          id="block-mrkliin-primary-local-tasks"
          class="block block-core block-local-tasks-block"
        >
          <nav class="tabs" role="navigation" aria-label="Tabs">
            <h2 class="visually-hidden">Primary tabs</h2>
          </nav>
        </div>
        <div
          id="block-mrkliin-breadcrumbs"
          class="block block-system block-system-breadcrumb-block"
        >
          <nav
            class="breadcrumb"
            role="navigation"
            aria-labelledby="system-breadcrumb"
          >
            <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
            <ol>
              <li>
                <a routerLink="/">Home</a>
              </li>
            </ol>
          </nav>
        </div>
        <div data-drupal-messages-fallback class="hidden"></div>
      </div>
    </header>

    <main role="main">
      <a id="main-content" tabindex="-1"></a>
      <div class="layout-content">
        <div class="region region-content">
          <div
            id="block-mrkliin-content"
            class="block block-system block-system-main-block "
          >
            <form
              class="user-pass"
              id="user-pass"
              [formGroup]="otpForm"
              (ngSubmit)="onFormSubmit()"
            >
              <div 
                class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name"
              >
                <label for="edit-name" class="js-form-required form-required">{{
                  "enterCode" | translate
                }}</label>
                <ng-otp-input class="codes"
                  #ngOtpInput
                  (onInputChange)="onOtpChange($event)"
                  *ngIf="showOtpComponent"
                  [config]="otpConfig"
                  autocomplete="off"
                ></ng-otp-input>
                <div *ngIf="otpError">
                  <small class="text-danger">
                    {{ "validCode" | translate }}
                  </small>
                </div>
                <!--<input
                  type="text"
                  id="edit-name"
                  name="name"
                  value=""
                  size="60"
                  maxlength="254"
                  class="form-text required"
                  required="required"
                  aria-required="true"
                />-->
              </div>
                <div style="clear:both"></div>
              <div
                class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name  form-item-pass"
              >
                <span class="view-pass pass-hidden" (click)="showHidePassword()"
                  ><img src="./assets/images/{{ eyeIcon }}"
                /></span>
                <label for="edit-name" class="js-form-required form-required">{{
                  "newPassword" | translate
                }}</label>
                <input
                  type="{{ inputType }}"
                  class="form-text required"
                  formControlName="password"
                />
                <!--Validation Error Message-->
                <div class="error-msg">
                  <div *ngIf="password.invalid && password.touched">
                    <small
                      class="text-danger"
                      *ngIf="password.errors?.required"
                    >
                      {{ "passwordRequired" | translate }}
                    </small>

                    <small
                      class="text-danger"
                      *ngIf="password.errors?.minlength"
                    >
                      {{ "passwordMinChar" | translate }}
                    </small>

                    <small class="text-danger" *ngIf="password.errors?.pattern">
                      {{ "passwordFormat" | translate }}
                    </small>
                  </div>
                </div>
              </div>

              <div
                class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name  form-item-pass"
              >
                <span
                  class="view-pass pass-hidden"
                  (click)="showHidePassword2()"
                  ><img src="./assets/images/{{ eyeIcon2 }}"
                /></span>
                <label for="edit-name" class="js-form-required form-required">{{
                  "confirmPassword" | translate
                }}</label>
                <input
                  type="{{ inputType2 }}"
                  class="form-text required"
                  formControlName="conf_pass"
                />
                <!--Validation Error Message-->
                <div class="error-msg">
                  <div *ngIf="conf_pass.invalid && conf_pass.touched">
                    <small
                      class="text-danger"
                      *ngIf="conf_pass.errors?.required"
                    >
                      {{ "confPasswordRequired" | translate }}
                    </small>
                  </div>
                  <small class="text-danger" *ngIf="isPasswordMatch">
                    {{ "passwordConfPasswordMatch" | translate }}
                  </small>
                </div>
              </div>

              <div
                data-drupal-selector="edit-actions"
                class="form-actions js-form-wrapper form-wrapper"
                id="edit-actions"
              >
                <input
                  type="submit"
                  id="edit-submit"
                  value="{{ 'resetPassword' | translate }}"
                  class="button js-form-submit form-submit"
                  [disabled]="otpForm.invalid"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-insert"></div>
    </main>
  </div>
</div>
