.form-item-pass {
  position: relative;
}
.view-pass {
  position: absolute;
  right: 16px;
  top: 34px;
  opacity: 0.5;
}
.view-pass:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 768px) {
    .form-text{width:100%; padding:10px 0}
    .codes input{width: 48px !important}
    .codes input.otp-input{width: 48px !important}
}
