<div class="path-node page-node-type-page page-faq">
  <header
    role="banner"
    style="background-image: url('assets/sites/default/files/banners/faq.jpeg')"
  >
    <div class="region region-header">
      <div
        id="block-mrkliin-page-title"
        class="block block-core block-page-title-block"
      >
        <h1 class="page-title">
          <span
            property="schema:name"
            class="field field--name-title field--type-string field--label-hidden"
            >{{ "faq" | translate }}</span
          >
        </h1>
      </div>
      <div
        class="views-element-container block block-views block-views-blockpage-subtitle-block-1"
        id="block-views-block-page-subtitle-block-1"
      >
        <div>
          <div
            class="view view-page-subtitle view-id-page_subtitle view-display-id-block_1 js-view-dom-id-11f32ca577fade8ea250bd84c0a9346ed5ca8a115e7f79583f720a45dd57dfc2"
          >
            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-field-basic-page-subtitle">
                  <div class="field-content">
                    <!--<p>{{ "faq" | translate }}</p>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="block-mrkliin-breadcrumbs"
        class="block block-system block-system-breadcrumb-block"
      >
        <nav
          class="breadcrumb"
          role="navigation"
          aria-labelledby="system-breadcrumb"
        >
          <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
          <ol>
            <li>
              <a routerLink="/">Home</a>
            </li>
          </ol>
        </nav>
      </div>
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
      <div class="region region-content">
        <div
          id="block-mrkliin-content"
          class="block block-system block-system-main-block"
        >
          <article
            data-history-node-id="9"
            role="article"
            about="/faq"
            typeof="schema:WebPage"
            class="node node--type-page node--view-mode-full"
          >
            <span
              property="schema:name"
              content="FAQ"
              class="rdf-meta hidden"
            ></span>
            <div class="node__content">
              <div
                class="clearfix text-formatted field field--name-field-basic-page-subtitle field--type-text-long field--label-hidden field__item"
              >
                <p>{{ "faq" | translate }}</p>
              </div>
              <div
                class="field field--name-field-paragraphs-ba field--type-entity-reference-revisions field--label-hidden field__items section-faqs"
              >
                <!-- faq 1 group starts -->
                <button class="accordion" (click)="showHideFaq1()">
                  {{ "faqPart1" | translate }} <span class="arrow {{ faq1Errow }}"></span>
                </button>

                <div class="faq-acc-panel" *ngIf="faq1">
                  <div class="field__item">
                    <div
                      class="paragraph paragraph--type--faq paragraph--view-mode--default"
                    >
                      <div class="content">
                        <div
                          class="field field--name-field-paragraph-lists field--type-entity-reference-revisions field--label-hidden field__items"
                        >
                          <mat-accordion multi="false">
                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question1" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer1" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example1
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question2" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example1.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example1.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer2" | translate }}</p>
                              <p>{{ "answer2-P2" | translate }}</p>
                              <p *ngIf="this.myapp.activeLang == 'en'"><a routerLink="/price-list">See full price list for individual garments</a></p>
                              <p *ngIf="this.myapp.activeLang == 'es'"><a routerLink="/price-list">Ver lista de precios completa para prendas individuales</a></p>

                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example2
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question3" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example2.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example2.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer3" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example3
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question4" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example3.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example3.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer4" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example4
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question5" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example4.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example4.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer5" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example5
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question6" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example5.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example5.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer6" | translate }}</p>
                              <p>{{ "answer6-P2" | translate }}</p>
                              <p>{{ "answer6-P3" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example6
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question7" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example6.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example6.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>
                                <strong>{{ "answer7-H1" | translate }}</strong><br />
                                {{ "answer7-P1" | translate }}
                              </p>
                              <p>
                                <strong>{{ "answer7-H2" | translate }}</strong><br />
                                {{ "answer7-P2" | translate }}
                              </p>
                              <p>
                                <strong>{{ "answer7-H3" | translate }}</strong><br />
                                {{ "answer7-P3" | translate }}
                              </p>
                                
                              <p>{{ "answer7-P4" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example7
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question8" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example7.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example7.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer8" | translate }}</p>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- faq 1 group ends -->

                <!-- faq 2 group starts -->
                <button class="accordion" (click)="showHideFaq2()">
                  {{ "faqPart2" | translate }} <span class="arrow {{ faq2Errow }}"></span>
                </button>
                <div class="faq-acc-panel" *ngIf="faq2">
                  <div class="field__item">
                    <div
                      class="paragraph paragraph--type--faq paragraph--view-mode--default"
                    >
                      <div class="content">
                        <div
                          class="field field--name-field-paragraph-lists field--type-entity-reference-revisions field--label-hidden field__items"
                        >

                          <mat-accordion multi="false">
                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example8
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question9" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example8.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example8.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer9-top" | translate }}</p>
                              <p><b>{{ "answer9-H1" | translate }}</b> {{ "answer9-P1" | translate }}</p>
                              <p><b>{{ "answer9-H2" | translate }}</b> {{ "answer9-P2" | translate }}</p>
                              <p><b>{{ "answer9-H3" | translate }}</b> {{ "answer9-P3" | translate }}</p>
                              <p>{{ "answer9-bottom" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example9
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question10" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example9.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example9.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer10" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example10
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question11" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example10.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example10.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p *ngIf="this.myapp.activeLang == 'en'">The best way to find out is to <a routerLink="/pickup-locations/pricing">click here.</a></p>
                              <p *ngIf="this.myapp.activeLang == 'es'">La mejor forma de averiguarlo es haciendo <a routerLink="/pickup-locations/pricing">clic aquí.</a></p>
                              <!--<p><br /><strong>{{ "answer11-H1" | translate }}</strong><br /> {{ "answer11-P2" | translate }}</p>

                              <p><strong>{{ "answer11-H2" | translate }}</strong><br /> {{ "answer11-P3" | translate }}<br /> {{ "answer11-P4" | translate }}</p>

                              <p>{{ "answer11-P5" | translate }}</p>
                              <h4>{{ "answer11-H3" | translate }}</h4>

                              <p><strong>{{ "answer11-P7" | translate }}</strong> <br> {{ "answer11-P8" | translate }} <br> {{ "answer11-P9" | translate }} <br><br> {{ "answer11-P10" | translate }} </p>
                              
                              <p><strong>{{ "answer11-P11" | translate }}</strong><br> {{ "answer11-P12" | translate }} <br> {{ "answer11-P13" | translate }} </p>
                              
                              <p>{{ "answer11-P14" | translate }}</p>
                              <table class="inpage-table">
                                  <tr>
                                      <th>{{ "pickup" | translate }}</th> <th>></th> <th>{{ "delivery" | translate }}</th>
                                  </tr>
                                  <tr>
                                      <td>{{ "mondays" | translate }}</td> <td>></td> <td>{{ "thursday" | translate }}</td>
                                  </tr>
                                  <tr>
                                      <td>{{ "wednesday" | translate }}</td> <td>></td><td>{{ "saturday" | translate }}</td>
                                  </tr>
                                  <tr>
                                      <td>{{ "friday" | translate }}</td><td>></td> <td>{{ "tuesday" | translate }}</td>
                                  </tr>
                              </table>
                              <p>{{ "answer11-P15" | translate }}</p>-->
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example11
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question12" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example11.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example11.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer12" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example12
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question13" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example12.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example12.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer13-P1" | translate }}</p>
                              <p>{{ "answer13-P2" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example13
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question14" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example13.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example13.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer14" | translate }}</p>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- faq 3 group starts -->
                <button class="accordion" (click)="showHideFaq3()">
                  {{ "faqPart3" | translate }} <span class="arrow {{ faq3Errow }}"></span>
                </button>
                <div class="faq-acc-panel" *ngIf="faq3">
                  <div class="field__item">
                    <div
                      class="paragraph paragraph--type--faq paragraph--view-mode--default"
                    >
                      <div class="content">
                        <div
                          class="field field--name-field-paragraph-lists field--type-entity-reference-revisions field--label-hidden field__items"
                        >

                          <mat-accordion multi="false">
                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example14
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question15" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example14.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example14.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>
                                {{ "answer15-P1" | translate }} <br>
                                {{ "answer15-P2" | translate }} <br>
                                {{ "answer15-P3" | translate }} 
                              </p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example15
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question16" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example15.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example15.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>
                                {{ "answer16-P1" | translate }}
                              </p>
                              <p>
                                {{ "answer16-P2" | translate }} <br>
                              </p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example16
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question17" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example16.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example16.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer17" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example17
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question18" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example17.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example17.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer18-P1" | translate }} <br> {{ "answer18-P2" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example18
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question19" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example18.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example18.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>
                                <strong>{{ "answer19-H1" | translate }}</strong> - {{ "answer19-P1" | translate }}
                              </p>
                              <p>
                                <strong>{{ "answer19-H2" | translate }}</strong> - {{ "answer19-P2" | translate }}
                                <a *ngIf="this.myapp.activeLang == 'en'" routerLink="/price-list"> (See full price list)</a>
                                <a *ngIf="this.myapp.activeLang == 'es'" routerLink="/price-list"> (Ver lista de precios completa)</a>
                              </p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example19
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question20" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example19.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example19.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer20" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example20
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question21" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example20.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example20.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer21" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example21
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question22" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example21.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example21.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer22-P1" | translate }}</p>
                              <p>{{ "answer22-P2" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example22
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question23" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example22.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example22.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer23" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example23
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question24" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example23.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example23.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer24" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example24
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question25" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example24.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example24.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer25-P1" | translate }} <br> {{ "answer25-P2" | translate }}</p>
                            </mat-expansion-panel>

                            <mat-expansion-panel
                              class="custom-header"
                              hideToggle="true"
                              #example25
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>{{ "question26" | translate }}</mat-panel-title>
                                <mat-panel-description>
                                  <span class="plusminus">
                                    <mat-icon *ngIf="!example25.expanded"
                                      >+</mat-icon
                                    >
                                    <mat-icon *ngIf="example25.expanded"
                                      >-</mat-icon
                                    >
                                  </span>
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <p>{{ "answer26-P1" | translate }}</p>
                              <p>{{ "answer26-P2" | translate }}</p>
                              <p *ngIf="this.myapp.activeLang == 'en'">For full description, please see <a routerLink="/terms">Terms</a>.</p>
                              <p *ngIf="this.myapp.activeLang == 'es'">Para obtener una descripción completa, consulte los <a routerLink="/terms">Términos</a>.</p>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- faq 4 group starts -->
                <button class="accordion" (click)="showHideFaq4()">
                  {{ "faqPart4" | translate }} <span class="arrow {{ faq3Errow }}"></span>
                </button>
                <div class="faq-acc-panel" *ngIf="faq4">
                  <div
                    class="field field--name-field-paragraph-buttons field--type-entity-reference-revisions field--label-hidden field__items"
                  >
                    <div class="field__item">
                      <div
                        class="paragraph paragraph--type--faq paragraph--view-mode--default"
                      >
                        <div class="content">
                          <div
                            class="field field--name-field-paragraph-lists field--type-entity-reference-revisions field--label-hidden field__items"
                          >

                          <mat-accordion multi="false">
                              <mat-expansion-panel
                                class="custom-header"
                                hideToggle="true"
                                #example26
                              >
                                <mat-expansion-panel-header>
                                  <mat-panel-title>{{ "question27" | translate }} </mat-panel-title>
                                  <mat-panel-description>
                                    <span class="plusminus">
                                      <mat-icon *ngIf="!example26.expanded"
                                        >+</mat-icon
                                      >
                                      <mat-icon *ngIf="example26.expanded"
                                        >-</mat-icon
                                      >
                                    </span>
                                  </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>{{ "answer27-P1" | translate }}</p>
                                <p>{{ "answer27-P2" | translate }}</p>
                                <p>{{ "answer27-P3" | translate }}</p>
                              </mat-expansion-panel>

                              <mat-expansion-panel
                                class="custom-header"
                                hideToggle="true"
                                #example27
                              >
                                <mat-expansion-panel-header>
                                  <mat-panel-title>{{ "question28" | translate }} </mat-panel-title>
                                  <mat-panel-description>
                                    <span class="plusminus">
                                      <mat-icon *ngIf="!example27.expanded"
                                        >+</mat-icon
                                      >
                                      <mat-icon *ngIf="example27.expanded"
                                        >-</mat-icon
                                      >
                                    </span>
                                  </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>{{ "answer28-P1" | translate }} <br>  {{ "answer28-P2" | translate }}</p>

                                <p>{{ "answer28-P3" | translate }} <br>  {{ "answer28-P4" | translate }}</p>
                                <p>{{ "answer28-P5" | translate }}</p>
                                <p>{{ "answer28-P6" | translate }}</p>
                              </mat-expansion-panel>

                              <mat-expansion-panel
                                class="custom-header"
                                hideToggle="true"
                                #example28
                              >
                                <mat-expansion-panel-header>
                                  <mat-panel-title>{{ "question29" | translate }} </mat-panel-title>
                                  <mat-panel-description>
                                    <span class="plusminus">
                                      <mat-icon *ngIf="!example28.expanded"
                                        >+</mat-icon
                                      >
                                      <mat-icon *ngIf="example28.expanded"
                                        >-</mat-icon
                                      >
                                    </span>
                                  </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>{{ "answer29" | translate }}</p>
                              </mat-expansion-panel>

                              <mat-expansion-panel
                                class="custom-header"
                                hideToggle="true"
                                #example29
                              >
                                <mat-expansion-panel-header>
                                  <mat-panel-title>{{ "question30" | translate }} </mat-panel-title>
                                  <mat-panel-description>
                                    <span class="plusminus">
                                      <mat-icon *ngIf="!example29.expanded"
                                        >+</mat-icon
                                      >
                                      <mat-icon *ngIf="example29.expanded"
                                        >-</mat-icon
                                      >
                                    </span>
                                  </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>{{ "answer30-P1" | translate }}</p>
                                <p>{{ "answer30-P2" | translate }}</p>
                              </mat-expansion-panel>

                              <mat-expansion-panel
                                class="custom-header"
                                hideToggle="true"
                                #example30
                              >
                                <mat-expansion-panel-header>
                                  <mat-panel-title>{{ "question31" | translate }} </mat-panel-title>
                                  <mat-panel-description>
                                    <span class="plusminus">
                                      <mat-icon *ngIf="!example30.expanded"
                                        >+</mat-icon
                                      >
                                      <mat-icon *ngIf="example30.expanded"
                                        >-</mat-icon
                                      >
                                    </span>
                                  </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>{{ "answer31" | translate }}</p>
                              </mat-expansion-panel>
                            </mat-accordion>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--FAQ End-->
              
              <br /><br />
              <div class="field__item">
                <div
                  class="paragraph paragraph--type--contact-us paragraph--view-mode--default"
                >
                  <div class="content">
                    <h2>
                      <div
                        class="field field--name-field-title field--type-string field--label-hidden field__item"
                      >
                        {{ "doYouStillHaveAQuestion" | translate }}
                      </div>
                    </h2>
                    <div
                      class="field field--name-field-subtitle field--type-string field--label-hidden field__item"
                    >
                      {{ "doYouStillHaveAQuestionSubHeading" | translate }}
                    </div>
                    <div class="contact-us-inner">
                      <div
                        class="field field--name-field-contact-form field--type-webform field--label-hidden field__item"
                      >
                      <form
                        class="webform-submission-form webform-submission-add-form webform-submission-contact-form webform-submission-contact-add-form webform-submission-contact-paragraph-106-form webform-submission-contact-paragraph-106-add-form js-webform-details-toggle webform-details-toggle"
                        id="webform-submission-contact-paragraph-106-add-form"
                        [formGroup]="contactForm"
                        (ngSubmit)="onContactSubmit()"
                      >
                        <div
                          class="webform-elements js-form-wrapper form-wrapper"
                          data-drupal-selector="edit-elements"
                          id="edit-elements"
                        >
                          <div
                            class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name form-no-label"
                          >
                            <label
                              for="edit-name"
                              class="visually-hidden js-form-required form-required"
                              >{{ "yourNameField" | translate }}</label
                            >
                            <input
                              type="text"
                              id="edit-name"
                              name="name"
                              value=""
                              size="60"
                              maxlength="255"
                              class="form-text required"
                              placeholder="{{ 'yourNameField' | translate }}"
                              aria-required="true"
                              formControlName="name"
                            />
                            <!--Validation Error Message-->
                            <div class="error-msg">
                              <div *ngIf="name.invalid && name.touched">
                                <small
                                  class="text-danger"
                                  *ngIf="name.errors?.required"
                                >
                                  Name is required
                                </small>
                                <small
                                  class="text-danger"
                                  *ngIf="name.errors?.minlength"
                                >
                                  Name must be 3 characters long
                                </small>
                                <small
                                  class="text-danger"
                                  *ngIf="name.errors?.maxlength"
                                >
                                  Name can't exceed 50 characters
                                </small>
                                <small
                                  class="text-danger"
                                  *ngIf="name.errors?.pattern"
                                >
                                  Please enter valid name
                                </small>
                              </div>
                            </div>
                          </div>
                          <div
                            class="js-form-item form-item js-form-type-email form-type-email js-form-item-email form-item-email form-no-label"
                          >
                            <label
                              for="edit-email"
                              class="visually-hidden js-form-required form-required"
                              >{{ "yourEmailField" | translate }}</label
                            >
                            <input
                              data-drupal-selector="edit-email"
                              type="email"
                              id="edit-email"
                              name="email"
                              value=""
                              size="60"
                              maxlength="254"
                              class="form-email required"
                              required="required"
                              aria-required="true"
                              formControlName="email"
                              placeholder="{{ 'yourEmailField' | translate }}"
                            />
                            <!--Validation Error Message-->
                            <div class="error-msg">
                              <div *ngIf="email.invalid && email.touched">
                                <small
                                  class="text-danger"
                                  *ngIf="email.errors?.required"
                                >
                                  Email is required
                                </small>
                                <small
                                  class="text-danger"
                                  *ngIf="email.errors?.email"
                                >
                                  Email must be in valid format
                                </small>
                                <small
                                  class="text-danger"
                                  *ngIf="email.errors?.minlength"
                                >
                                  Email must be 3 characters long
                                </small>
                                <small
                                  class="text-danger"
                                  *ngIf="email.errors?.maxlength"
                                >
                                  Email can't exceed 100 characters
                                </small>
                              </div>
                            </div>
                          </div>
                          <div
                            class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-message form-item-message form-no-label"
                          >
                            <label
                              for="edit-message"
                              class="visually-hidden js-form-required form-required"
                              >{{ "yourMessageField" | translate }}</label
                            >
                            <div class="form-textarea-wrapper">
                              <textarea
                                data-drupal-selector="edit-message"
                                id="edit-message"
                                name="message"
                                rows="5"
                                cols="60"
                                class="form-textarea required resize-vertical"
                                required="required"
                                aria-required="true"
                                formControlName="message"
                                placeholder="{{ 'yourMessageField' | translate }}"
                              ></textarea>
                              <!--Validation Error Message-->
                              <div class="error-msg">
                                <div
                                  *ngIf="message.invalid && message.touched"
                                >
                                  <small
                                    class="text-danger"
                                    *ngIf="message.errors?.required"
                                  >
                                    Message is required
                                  </small>
                                  <small
                                    class="text-danger"
                                    *ngIf="message.errors?.minlength"
                                  >
                                    Message must be 10 characters long
                                  </small>
                                  <small
                                    class="text-danger"
                                    *ngIf="message.errors?.maxlength"
                                  >
                                    Message can't exceed 500 characters
                                  </small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            data-drupal-selector="edit-actions"
                            class="form-actions webform-actions js-form-wrapper form-wrapper"
                            id="edit-actions"
                          >
                            <input
                              class="webform-button--submit button button--primary js-form-submit form-submit"
                              data-drupal-selector="edit-actions-submit"
                              type="submit"
                              id="edit-actions-submit"
                              value="{{ 'sendMessage' | translate }}"
                              [disabled]="contactForm.invalid"
                            />
                          </div>
                        </div>
                        <input
                          autocomplete="off"
                          data-drupal-selector="form-wic4adk8v5oe4jdpa8fjvbj8ypmb9luomnxupttib8e"
                          type="hidden"
                          name="form_build_id"
                          value="form-WiC4ADk8v5Oe4JdPA8fjvBJ8yPMb9LuOMNxuPttib8E"
                        />
                        <input
                          data-drupal-selector="edit-webform-submission-contact-paragraph-106-add-form"
                          type="hidden"
                          name="form_id"
                          value="webform_submission_contact_paragraph_106_add_form"
                        />
                      </form>
                      </div>
                      <div class="contact-us-links">
                        <div
                          class="clearfix text-formatted field field--name-field-additional-text field--type-text field--label-hidden field__item"
                        >
                          {{ "notIntoEmails" | translate }}
                        </div>
                        <div class="whatsapp">
                          <img
                            src="assets/themes/custom/mrkliin/img/whatsapp.svg"
                          />
                          <a href="https://wa.me/34690849277" target="_blank"
                            >{{ "leaveUsAMessageOnWhatsApp" | translate }}</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>
</div>
