<footer role="contentinfo">
  <div class="region region-footer">
    <div
      id="block-footerlinks"
      class="block block-block-content block-block-content4b04247e-3118-40bf-b2b7-a921eab48b33"
    >
      <div
        class="field field--name-field-footer-link field--type-link field--label-hidden field__items"
      >
        <div class="field__item">
          <a routerLink="/faq">{{ "faq" | translate }}</a>
        </div>
        <div class="field__item">
          <a routerLink="/terms">{{ "terms" | translate }}</a>
        </div>
        <div class="field__item">
          <a routerLink="/privacy-policy">{{ "privacy" | translate }}</a>
        </div>
        <div class="field__item">
          <a class="btn lightbox-203256914005347" style="cursor:pointer">{{
            "feedback" | translate
          }}</a>
        </div>
      </div>
    </div>
    <div
      id="block-socialmediablock-2"
      class="block block-block-content block-block-content6ee7bbb0-456a-4f8d-ba58-19ef6f5133fd"
    >
      <div
        class="field field--name-field-social-icons field--type-entity-reference field--label-hidden field__items"
      >
        <div class="field__item">
          <div
            about="/taxonomy/term/2"
            id="taxonomy-term-2"
            class="taxonomy-term vocabulary-social-link"
          >
            <h2>
              <a
                href="https://www.facebook.com/mrkliin.laundrypickup"
                target="_blank"
              >
                <div
                  class="field field--name-name field--type-string field--label-hidden field__item"
                >
                  Facebook
                </div>
              </a>
            </h2>
            <div class="content">
              <div
                class="field field--name-field-icon field--type-image field--label-hidden field__item"
              >
                <a
                  href="https://www.facebook.com/mrkliin.laundrypickup"
                  target="_blank"
                >
                  <img
                    src="assets/sites/default/files/2020-07/facebook.png"
                    width="512"
                    height="512"
                    alt=""
                    typeof="foaf:Image"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="field__item">
          <div
            about="/taxonomy/term/4"
            id="taxonomy-term-4"
            class="taxonomy-term vocabulary-social-link"
          >
            <h2>
              <a href="https://www.instagram.com/mrkliin/" target="_blank">
                <div
                  class="field field--name-name field--type-string field--label-hidden field__item"
                >
                  Instagram
                </div>
              </a>
            </h2>
            <div class="content">
              <div
                class="field field--name-field-icon field--type-image field--label-hidden field__item"
              >
                <a href="https://www.instagram.com/mrkliin/" target="_blank">
                  <img
                    src="assets/sites/default/files/2020-07/instagram.png"
                    width="512"
                    height="512"
                    alt=""
                    typeof="foaf:Image"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="block-footerinformation"
      class="block block-block-content block-block-content217459fa-e61d-4b02-b29a-efc1762d75a6"
    >
      <div
        class="field field--name-field-copyright field--type-string field--label-hidden field__item"
      >
        © Mr Kliin, 2020. All rights reserved.
      </div>
    </div>
  </div>

  <!--Chat Icon-->
  <!--<a href="#section-contact" class="chatme"
    ><img src="assets/sites/default/files/chat.png"
  /></a>-->
</footer>
