<div class="path-user">
  <div class="page-user page-cart">
    <header role="banner">
      <div class="region region-header">
        <div
          id="block-mrkliin-page-title"
          class="block block-core block-page-title-block"
        >
          <h1 class="page-title">{{ "forgotPassword" | translate }}</h1>
        </div>
        <div
          id="block-mrkliin-primary-local-tasks"
          class="block block-core block-local-tasks-block"
        >
          <nav class="tabs" role="navigation" aria-label="Tabs">
            <h2 class="visually-hidden">Primary tabs</h2>
            <ul class="tabs primary">
              <li>
                {{ "forgotSubHeading" | translate
                }}<a
                  routerLink="/login"
                  data-drupal-link-system-path="user/login"
                  >{{ "login" | translate }}</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div
          id="block-mrkliin-breadcrumbs"
          class="block block-system block-system-breadcrumb-block"
        >
          <nav
            class="breadcrumb"
            role="navigation"
            aria-labelledby="system-breadcrumb"
          >
            <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
            <ol>
              <li>
                <a routerLink="/">Home</a>
              </li>
            </ol>
          </nav>
        </div>
        <div data-drupal-messages-fallback class="hidden"></div>
      </div>
    </header>

    <main role="main">
      <a id="main-content" tabindex="-1"></a>
      <div class="layout-content">
        <div class="region region-content">
          <div
            id="block-mrkliin-content"
            class="block block-system block-system-main-block"
          >
            <form
              class="user-pass"
              id="user-pass"
              [formGroup]="loginForm"
              (ngSubmit)="onFormSubmit()"
            >
              <div
                class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name"
              >
                <label for="edit-name" class="js-form-required form-required">{{
                  "emailAddress" | translate
                }}</label>
                <input
                  type="email"
                  id="edit-name"
                  class="form-text required"
                  formControlName="email"
                />
                <!--Validation Error Message-->
                <div class="error-msg">
                  <div *ngIf="email.invalid && email.touched">
                    <small class="text-danger" *ngIf="email.errors?.required">
                      {{ "emailRequired" | translate }}
                    </small>
                    <small class="text-danger" *ngIf="email.errors?.email">
                      {{ "emailValid" | translate }}
                    </small>
                    <small class="text-danger" *ngIf="email.errors?.minlength">
                      {{ "emailMinChar" | translate }}
                    </small>
                    <small class="text-danger" *ngIf="email.errors?.maxlength">
                      {{ "emailMaxChar" | translate }}
                    </small>
                  </div>
                </div>
              </div>
              <p>
                {{ "forgotEmailMessage" | translate }}
              </p>
              <div
                data-drupal-selector="edit-actions"
                class="form-actions js-form-wrapper form-wrapper"
                id="edit-actions"
              >
                <input
                  type="submit"
                  id="edit-submit"
                  value="{{ 'sendResetCode' | translate }}"
                  class="button js-form-submit form-submit sendcode-btn"
                  [disabled]="loginForm.invalid"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-insert"></div>
    </main>
  </div>
</div>
