@media (max-width: 768px) {
    .user-login-form input, .user-pass input, .user-register-form input{
    width:auto;
display: block;
    padding: 10px 0;
    width: 100%;}
    
    .sendcode-btn{padding: 10px 15px !important}
}