<div class="path-node page-node-type-page page-hiw">
  <header
    role="banner"
    style="
      background-image: url('assets/sites/default/files/hiw/hiw-banner.jpg');
    "
  >
    <div class="region region-header">
      <div
        id="block-mrkliin-page-title"
        class="block block-core block-page-title-block"
      >
        <h1 class="page-title">
          <span
            property="schema:name"
            class="field field--name-title field--type-string field--label-hidden"
            >{{ "howItWorks" | translate }}</span
          >
        </h1>
      </div>
      <div
        class="views-element-container block block-views block-views-blockpage-subtitle-block-1"
        id="block-views-block-page-subtitle-block-1"
      >
        <div>
          <div
            class="view view-page-subtitle view-id-page_subtitle view-display-id-block_1 js-view-dom-id-27dc639eff91e67e759565fead5cf9a24a0a41a9179be862cd7a8ed857ada456"
          >
            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-field-basic-page-subtitle">
                  <div class="field-content">
                    <p>{{ "howItWorksInfo" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="block-mrkliin-breadcrumbs"
        class="block block-system block-system-breadcrumb-block"
      >
        <nav
          class="breadcrumb"
          role="navigation"
          aria-labelledby="system-breadcrumb"
        >
          <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
          <ol>
            <li>
              <a routerLink="/">Home</a>
            </li>
          </ol>
        </nav>
      </div>
      <div data-drupal-messages-fallback class="hidden"></div>
    </div>
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content">
      <div class="region region-content">
        <div
          id="block-mrkliin-content"
          class="block block-system block-system-main-block"
        >
          <article
            data-history-node-id="5"
            role="article"
            about="/how-it-works"
            typeof="schema:WebPage"
            class="node node--type-page node--view-mode-full"
          >
            <span
              property="schema:name"
              content="How it works"
              class="rdf-meta hidden"
            ></span>
            <div class="node__content">
              <div
                class="clearfix text-formatted field field--name-field-basic-page-subtitle field--type-text-long field--label-hidden field__item"
              >
                <p>{{ "howItWorksInfo" | translate }}</p>
              </div>
              <div
                class="field field--name-field-paragraphs-ba field--type-entity-reference-revisions field--label-hidden field__items"
              >
                <!--How it works, desktop layout-->
                <div class="hiw-desktop">
                  <div class="field__item">
                    <div
                      class="field-background-white field-positioning-left field-width-contained paragraph paragraph--type--promotional-box paragraph--view-mode--default"
                    >
                      <div class="content">
                        <div
                          class="box-left"
                          style="
                            background-image: url('assets/sites/default/files/hiw/You-sign-up.jpg');
                          "
                        ></div>
                        <div class="box-right">
                          <h2>
                            <div
                              class="field field--name-field-title field--type-string field--label-hidden field__item"
                            >
                              {{ "youSignUp" | translate }}
                            </div>
                          </h2>
                          <div
                            class="clearfix text-formatted field field--name-field-details field--type-text-long field--label-hidden field__item"
                          >
                            <ul class="tick-list">
                              <li>{{ "yourSignUpP1" | translate }}</li>
                              <li>{{ "yourSignUpP2" | translate }}</li>
                              <li>{{ "yourSignUpP3" | translate }}</li>
                              <li>{{ "yourSignUpP4" | translate }}</li>
                            </ul>
                          </div>
                          <div
                            class="field field--name-field-button field--type-entity-reference-revisions field--label-hidden field__items"
                          >
                            <div class="field__item">
                              <div
                                class="button-style-background paragraph paragraph--type--button paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-cta-button field--type-link field--label-hidden field__item"
                                >
                                  <a routerLink="/register"
                                    >{{ "signUpAndScheduleYourFirstPickupNow" | translate }}</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field__item">
                    <div
                      class="field-background-white field-positioning-left field-width-contained paragraph paragraph--type--promotional-box paragraph--view-mode--default"
                    >
                      <div class="content">
                        <div
                          class="box-left"
                          style="
                            background-image: url('assets/sites/default/files/hiw/We-pick-up.jpg');
                          "
                        ></div>
                        <div class="box-right">
                          <h2>
                            <div
                              class="field field--name-field-title field--type-string field--label-hidden field__item"
                            >
                              {{ "wePickUp" | translate }}
                            </div>
                          </h2>
                          <div
                            class="clearfix text-formatted field field--name-field-details field--type-text-long field--label-hidden field__item"
                          >
                            <ul class="tick-list">
                              <li>{{ "wePickUpP1" | translate }}</li>
                              <li>{{ "wePickUpP2" | translate }}</li>
                              <li>{{ "wePickUpP3" | translate }}</li>
                            </ul>
                          </div>
                          <div
                            class="field field--name-field-paragraph-lists field--type-entity-reference-revisions field--label-hidden field__items"
                          >
                            <div class="field__item">
                              <div
                                class="paragraph paragraph--type--bullet-points paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-title field--type-string field--label-hidden field__item"
                                >
                                  {{ "scheduleYourPickupFor" | translate }}
                                </div>
                                <div
                                  class="field field--name-field-text field--type-string field--label-hidden field__items"
                                >
                                  <div class="field__item">{{ "monday" | translate }}</div>
                                </div>
                              </div>
                            </div>
                            <div class="field__item">
                              <div
                                class="paragraph paragraph--type--bullet-points paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-text field--type-string field--label-hidden field__items"
                                >
                                  <div class="field__item">{{ "wednesday" | translate }}</div>
                                </div>
                              </div>
                            </div>
                            <div class="field__item">
                              <div
                                class="paragraph paragraph--type--bullet-points paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-text field--type-string field--label-hidden field__items"
                                >
                                  <div class="field__item">{{ "friday" | translate }}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="field field--name-field-button field--type-entity-reference-revisions field--label-hidden field__items"
                          >
                            <div class="field__item">
                              <div
                                class="button-style-background paragraph paragraph--type--button paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-cta-button field--type-link field--label-hidden field__item"
                                >
                                  <a routerLink="/pickup-locations"
                                    >{{ "learnMoreAboutPickupDeliverySchedule" | translate }}</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field__item">
                    <div
                      class="field-background-white field-positioning-left field-width-contained paragraph paragraph--type--promotional-box paragraph--view-mode--default"
                    >
                      <div class="content">
                        <div class="box-left">
                          <video controls>
                            <source
                              src="assets/sites/default/files/video/We_clean.mp4"
                              type="video/mp4"
                            />
                            <source src="movie.ogg" type="video/ogg" />
                            Your browser does not support the video tag.
                          </video>
                        </div>
                        <div class="box-right">
                          <h2>
                            <div
                              class="field field--name-field-title field--type-string field--label-hidden field__item"
                            >
                              {{ "weClean" | translate }}
                            </div>
                          </h2>
                          <div
                            class="clearfix text-formatted field field--name-field-details field--type-text-long field--label-hidden field__item"
                          >
                            <ul class="tick-list">
                              <li>{{ "weCleanP1" | translate }}</li>
                              <li>{{ "weCleanP2" | translate }}</li>
                              <li>{{ "weCleanP3" | translate }}</li>
                              <li>{{ "weCleanP4" | translate }}</li>
                              <li>{{ "weCleanP5" | translate }}</li>
                            </ul>
                          </div>
                          <div
                            class="field field--name-field-paragraph-lists field--type-entity-reference-revisions field--label-hidden field__items"
                          >
                            <div class="field__item">
                              <div
                                class="paragraph paragraph--type--bullet-points paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-title field--type-string field--label-hidden field__item"
                                >
                                  {{ "choseBetweenThreeDifferentServices" | translate }}
                                </div>
                                <div
                                  class="field field--name-field-text field--type-string field--label-hidden field__items"
                                >
                                  <div class="field__item">
                                    {{ "washFold(LargeBag)" | translate }}
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="field__item">
                              <div
                                class="paragraph paragraph--type--bullet-points paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-text field--type-string field--label-hidden field__items"
                                >
                                  <div class="field__item">
                                    {{ "washFold(MediumBag)" | translate }}
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="field__item">
                              <div
                                class="paragraph paragraph--type--bullet-points paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-text field--type-string field--label-hidden field__items"
                                >
                                  <div class="field__item">
                                    {{ "cleanPress(IndividualGarments)" | translate }}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="field field--name-field-button field--type-entity-reference-revisions field--label-hidden field__items"
                          >
                            <div class="field__item">
                              <div
                                class="button-style-background paragraph paragraph--type--button paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-cta-button field--type-link field--label-hidden field__item"
                                >
                                  <a routerLink="/pricing"
                                    >{{ "readMoreAboutServices" | translate }}</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="field__item">
                    <div
                      class="field-background-white field-positioning-left field-width-contained paragraph paragraph--type--promotional-box paragraph--view-mode--default"
                    >
                      <div class="content">
                        <div
                          class="box-left"
                          style="
                            background-image: url('assets/sites/default/files/hiw/We-deliver.jpg');
                          "
                        ></div>
                        <div class="box-right">
                          <h2>
                            <div
                              class="field field--name-field-title field--type-string field--label-hidden field__item"
                            >
                              {{ "weDeliver" | translate }}
                            </div>
                          </h2>
                          <div
                            class="clearfix text-formatted field field--name-field-details field--type-text-long field--label-hidden field__item"
                          >
                            <ul class="tick-list">
                              <li>{{ "weDeliverP1" | translate }}</li>
                              <li>{{ "weDeliverP2" | translate }}</li>
                              <li>{{ "weDeliverP3" | translate }}</li>
                            </ul>
                          </div>
                          <div
                            class="field field--name-field-paragraph-lists field--type-entity-reference-revisions field--label-hidden field__items"
                          >
                            <div class="field__item">
                              <div
                                class="paragraph paragraph--type--bullet-points paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-title field--type-string field--label-hidden field__item"
                                >
                                  {{ "ourDeliveryServiceWorksOn" | translate }}
                                </div>
                                <div
                                  class="field field--name-field-text field--type-string field--label-hidden field__items"
                                >
                                  <div class="field__item">{{ "tuesday" | translate }}</div>
                                </div>
                              </div>
                            </div>
                            <div class="field__item">
                              <div
                                class="paragraph paragraph--type--bullet-points paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-text field--type-string field--label-hidden field__items"
                                >
                                  <div class="field__item">{{ "thursday" | translate }}</div>
                                </div>
                              </div>
                            </div>
                            <div class="field__item">
                              <div
                                class="paragraph paragraph--type--bullet-points paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-text field--type-string field--label-hidden field__items"
                                >
                                  <div class="field__item">{{ "saturday" | translate }}</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            class="field field--name-field-button field--type-entity-reference-revisions field--label-hidden field__items"
                          >
                            <div class="field__item">
                              <div
                                class="button-style-background paragraph paragraph--type--button paragraph--view-mode--default"
                              >
                                <div
                                  class="field field--name-field-cta-button field--type-link field--label-hidden field__item"
                                >
                                  <a routerLink="/faq"
                                    >{{ "seeFrequentlyQuestionsAboutPayments" | translate }}</a
                                  >
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--How it works, mobile layout start-->
                <div class="hiw-mobile">
                    <div class="field__item">
                      <!--Box 1-->
                      <div class="howBox" style="margin-top: 50px">
                        <h1>{{ "placeOrderHow" | translate }}</h1>
                        <img src="assets/images/how/1.png">
                        <ul class="tick-list">
                          <li>{{ "placeOrderHowP1" | translate }}</li>
                          <li>{{ "placeOrderHowP2" | translate }}</li>
                        </ul>
                      </div>

                      <!--Box 2-->
                      <div class="howBox">
                        <h1>{{ "wePickupHow" | translate }}</h1>
                        <img src="assets/images/how/2.png">
                        <ul class="tick-list">
                          <li>{{ "wePickupHowP1" | translate }}</li>
                          <li>{{ "wePickupHowP2" | translate }}</li>
                        </ul>
                      </div>

                      <!--Box 3-->
                      <div class="howBox">
                        <h1>{{ "weCleanHow" | translate }}</h1>
                        <img src="assets/images/how/3.png">
                        <ul class="tick-list">
                          <li>{{ "weCleanHowP1" | translate }}</li>
                          <li>{{ "weCleanHowP2" | translate }}</li>
                        </ul>
                      </div>

                      <!--Box 4-->
                      <div class="howBox" style="border:none">
                          <h1>{{ "weDeliverHow" | translate }}</h1>
                        <img src="assets/images/how/4.png">
                        <ul class="tick-list">
                          <li>{{ "weDeliverHowP1" | translate }}</li>
                          <li>{{ "weDeliverHowP2" | translate }}</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <!--How it works, mobile layout end-->

                <div class="field__item">
                  <div
                    class="paragraph paragraph--type--highlighted-text paragraph--view-mode--default"
                  >
                    <div class="content">
                      <div
                        class="clearfix text-formatted field field--name-field-long-text field--type-text-long field--label-hidden field__item"
                      >
                        <p>{{ "howInfoP5" | translate }}</p>
                        <p>{{ "howInfoP6" | translate }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field__item">
                  <div
                    class="paragraph paragraph--type--cta-banner paragraph--view-mode--default"
                  >
                    <div class="content">
                      <h2>
                        <div
                          class="field field--name-field-title field--type-string field--label-hidden field__item"
                        >
                          {{ "readyToOrderr" | translate }}
                        </div>
                      </h2>
                      <div
                        class="field field--name-field-subtitle field--type-string field--label-hidden field__item"
                      >
                        {{ "readyToOrderrInfo" | translate }}
                      </div>
                      <div
                        class="field field--name-field-cta-button field--type-link field--label-hidden field__item"
                      >
                        <a routerLink="/order-start">{{ "orderNow" | translate }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="field__item">
                  <div
                    class="paragraph paragraph--type--contact-us paragraph--view-mode--default"
                  >
                    <div class="content">
                      <h2>
                        <div
                          class="field field--name-field-title field--type-string field--label-hidden field__item"
                        >
                          {{ "doYouHaveAQuestion" | translate }}
                        </div>
                      </h2>
                      <div
                        class="field field--name-field-subtitle field--type-string field--label-hidden field__item"
                      >
                        {{ "doYouHaveAQuestionSubHeading" | translate }}
                      </div>
                      <div class="contact-us-inner">
                        <div
                          class="field field--name-field-contact-form field--type-webform field--label-hidden field__item"
                        >
                        <form
                          class="webform-submission-form webform-submission-add-form webform-submission-contact-form webform-submission-contact-add-form webform-submission-contact-paragraph-106-form webform-submission-contact-paragraph-106-add-form js-webform-details-toggle webform-details-toggle"
                          id="webform-submission-contact-paragraph-106-add-form"
                          [formGroup]="contactForm"
                          (ngSubmit)="onContactSubmit()"
                        >
                          <div
                            class="webform-elements js-form-wrapper form-wrapper"
                            data-drupal-selector="edit-elements"
                            id="edit-elements"
                          >
                            <div
                              class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name form-no-label"
                            >
                              <label
                                for="edit-name"
                                class="visually-hidden js-form-required form-required"
                                >{{ "yourNameField" | translate }}</label
                              >
                              <input
                                type="text"
                                id="edit-name"
                                name="name"
                                value=""
                                size="60"
                                maxlength="255"
                                class="form-text required"
                                placeholder="{{ 'yourNameField' | translate }}"
                                aria-required="true"
                                formControlName="name"
                              />
                              <!--Validation Error Message-->
                              <div class="error-msg">
                                <div *ngIf="name.invalid && name.touched">
                                  <small
                                    class="text-danger"
                                    *ngIf="name.errors?.required"
                                  >
                                    Name is required
                                  </small>
                                  <small
                                    class="text-danger"
                                    *ngIf="name.errors?.minlength"
                                  >
                                    Name must be 3 characters long
                                  </small>
                                  <small
                                    class="text-danger"
                                    *ngIf="name.errors?.maxlength"
                                  >
                                    Name can't exceed 50 characters
                                  </small>
                                  <small
                                    class="text-danger"
                                    *ngIf="name.errors?.pattern"
                                  >
                                    Please enter valid name
                                  </small>
                                </div>
                              </div>
                            </div>
                            <div
                              class="js-form-item form-item js-form-type-email form-type-email js-form-item-email form-item-email form-no-label"
                            >
                              <label
                                for="edit-email"
                                class="visually-hidden js-form-required form-required"
                                >{{ "yourEmailField" | translate }}</label
                              >
                              <input
                                data-drupal-selector="edit-email"
                                type="email"
                                id="edit-email"
                                name="email"
                                value=""
                                size="60"
                                maxlength="254"
                                class="form-email required"
                                required="required"
                                aria-required="true"
                                formControlName="email"
                                placeholder="{{ 'yourEmailField' | translate }}"
                              />
                              <!--Validation Error Message-->
                              <div class="error-msg">
                                <div *ngIf="email.invalid && email.touched">
                                  <small
                                    class="text-danger"
                                    *ngIf="email.errors?.required"
                                  >
                                    Email is required
                                  </small>
                                  <small
                                    class="text-danger"
                                    *ngIf="email.errors?.email"
                                  >
                                    Email must be in valid format
                                  </small>
                                  <small
                                    class="text-danger"
                                    *ngIf="email.errors?.minlength"
                                  >
                                    Email must be 3 characters long
                                  </small>
                                  <small
                                    class="text-danger"
                                    *ngIf="email.errors?.maxlength"
                                  >
                                    Email can't exceed 100 characters
                                  </small>
                                </div>
                              </div>
                            </div>
                            <div
                              class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-message form-item-message form-no-label"
                            >
                              <label
                                for="edit-message"
                                class="visually-hidden js-form-required form-required"
                                >{{ "yourMessageField" | translate }}</label
                              >
                              <div class="form-textarea-wrapper">
                                <textarea
                                  data-drupal-selector="edit-message"
                                  id="edit-message"
                                  name="message"
                                  rows="5"
                                  cols="60"
                                  class="form-textarea required resize-vertical"
                                  required="required"
                                  aria-required="true"
                                  formControlName="message"
                                  placeholder="{{ 'yourMessageField' | translate }}"
                                ></textarea>
                                <!--Validation Error Message-->
                                <div class="error-msg">
                                  <div
                                    *ngIf="message.invalid && message.touched"
                                  >
                                    <small
                                      class="text-danger"
                                      *ngIf="message.errors?.required"
                                    >
                                      Message is required
                                    </small>
                                    <small
                                      class="text-danger"
                                      *ngIf="message.errors?.minlength"
                                    >
                                      Message must be 10 characters long
                                    </small>
                                    <small
                                      class="text-danger"
                                      *ngIf="message.errors?.maxlength"
                                    >
                                      Message can't exceed 500 characters
                                    </small>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              data-drupal-selector="edit-actions"
                              class="form-actions webform-actions js-form-wrapper form-wrapper"
                              id="edit-actions"
                            >
                              <input
                                class="webform-button--submit button button--primary js-form-submit form-submit"
                                data-drupal-selector="edit-actions-submit"
                                type="submit"
                                id="edit-actions-submit"
                                value="{{ 'sendMessage' | translate }}"
                                [disabled]="contactForm.invalid"
                              />
                            </div>
                          </div>
                          <input
                            autocomplete="off"
                            data-drupal-selector="form-wic4adk8v5oe4jdpa8fjvbj8ypmb9luomnxupttib8e"
                            type="hidden"
                            name="form_build_id"
                            value="form-WiC4ADk8v5Oe4JdPA8fjvBJ8yPMb9LuOMNxuPttib8E"
                          />
                          <input
                            data-drupal-selector="edit-webform-submission-contact-paragraph-106-add-form"
                            type="hidden"
                            name="form_id"
                            value="webform_submission_contact_paragraph_106_add_form"
                          />
                        </form>
                        </div>
                        <div class="contact-us-links">
                          <div
                            class="clearfix text-formatted field field--name-field-additional-text field--type-text field--label-hidden field__item"
                          >
                            {{ "notIntoEmail" | translate }}
                          </div>
                          <div
                            class="field field--name-field-contact-link field--type-link field--label-hidden field__item"
                          >
                            <a routerLink="/faq">{{ "goToFaq" | translate }}</a>
                          </div>
                          <div class="whatsapp">
                            <img
                              src="assets/themes/custom/mrkliin/img/whatsapp.svg"
                            />
                            <a href="https://wa.me/34690849277" target="_blank"
                              >{{ "leaveUsAMessageOnWhatsApp" | translate }}</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="footer-insert"></div>
  </main>
</div>
