<div class="path-node  product-page page-products path-products">
  <header role="banner">
    <h1 class="page-title">{{ "changePassword" | translate }}</h1>
  </header>

  <div class="path-user">
    <div class="page-user page-cart">
      <main role="main">
        <a id="main-content" tabindex="-1"></a>
        <div class="layout-content">
          <div class="region region-content">
            <div
              id="block-mrkliin-content"
              class="block block-system block-system-main-block"
            >
              <form
                class="user-register-form user-form"
                id="user-register-form"
                [formGroup]="cpForm"
                (ngSubmit)="onFormSubmit()"
              >
                <div
                  data-drupal-selector="edit-account"
                  id="edit-account"
                  class="js-form-wrapper form-wrapper"
                >
                  <div
                    class="js-form-item form-item js-form-type-email form-type-email js-form-item-mail form-item-mail form-item-pass"
                  >
                    <span
                      class="view-pass pass-hidden"
                      (click)="showHidePassword()"
                      ><img src="./assets/images/{{ eyeIcon }}"
                    /></span>
                    <label
                      for="edit-mail"
                      class="js-form-required form-required"
                      >{{ "currentPassword" | translate }}</label
                    >
                    <input
                      type="{{ inputType }}"
                      class="form-email required"
                      formControlName="old_pass"
                    />
                    <!--Validation Error Message-->
                    <div class="error-msg">
                      <div *ngIf="old_pass.invalid && old_pass.touched">
                        <small
                          class="text-danger"
                          *ngIf="old_pass.errors?.required"
                        >
                          {{ "currentPasswordRequired" | translate }}
                        </small>

                        <small
                          class="text-danger"
                          *ngIf="old_pass.errors?.minlength"
                        >
                          {{ "passwordMinChar" | translate }}
                        </small>

                        <small
                          class="text-danger"
                          *ngIf="old_pass.errors?.pattern"
                        >
                          {{ "passwordFormat" | translate }}
                        </small>
                      </div>
                    </div>
                  </div>

                  <div
                    class="js-form-item form-item js-form-type-email form-type-email js-form-item-mail form-item-mail form-item-pass"
                  >
                    <span
                      class="view-pass pass-hidden"
                      (click)="showHidePassword2()"
                      ><img src="./assets/images/{{ eyeIcon2 }}"
                    /></span>
                    <label class="js-form-required">{{
                      "newPassword" | translate
                    }}</label>
                    <input
                      type="{{ inputType2 }}"
                      class="form-email"
                      formControlName="new_pass"
                    />
                    <!--Validation Error Message-->
                    <div class="error-msg">
                      <div *ngIf="new_pass.invalid && new_pass.touched">
                        <small
                          class="text-danger"
                          *ngIf="new_pass.errors?.required"
                        >
                          {{ "newPasswordRequired" | translate }}
                        </small>

                        <small
                          class="text-danger"
                          *ngIf="new_pass.errors?.minlength"
                        >
                          {{ "passwordMinChar" | translate }}
                        </small>

                        <small
                          class="text-danger"
                          *ngIf="new_pass.errors?.pattern"
                        >
                          {{ "passwordFormat" | translate }}
                        </small>
                      </div>
                    </div>
                  </div>

                  <div
                    class="js-form-item form-item js-form-type-email form-type-email js-form-item-mail form-item-mail form-item-pass"
                  >
                    <span
                      class="view-pass pass-hidden"
                      (click)="showHidePassword3()"
                      ><img src="./assets/images/{{ eyeIcon3 }}"
                    /></span>
                    <label class="js-form-required">{{
                      "confirmPassword" | translate
                    }}</label>
                    <input
                      type="{{ inputType3 }}"
                      class="form-email"
                      formControlName="conf_pass"
                    />
                    <!--Validation Error Message-->
                    <div class="error-msg">
                      <div *ngIf="conf_pass.invalid && conf_pass.touched">
                        <small
                          class="text-danger"
                          *ngIf="conf_pass.errors?.required"
                        >
                          {{ "confPasswordRequired" | translate }}
                        </small>
                      </div>
                      <small class="text-danger" *ngIf="isPasswordMatch">
                        {{ "passwordConfPasswordMatch" | translate }}
                      </small>
                    </div>
                  </div>
                </div>

                <div
                  data-drupal-selector="edit-actions"
                  class="form-actions js-form-wrapper form-wrapper"
                  id="edit-actions"
                >
                  <button
                    routerLink="../my-profile"
                    id="back-profile"
                    class="btn-outline"
                  >
                    {{ "backToProfile" | translate }}
                  </button>

                  <input
                    style="margin-left: auto;"
                    type="submit"
                    id="edit-submit"
                    value="{{ 'submit' | translate }}"
                    class="button button--primary js-form-submit form-submit"
                    [disabled]="cpForm.invalid"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-insert"></div>
      </main>
    </div>
  </div>
</div>
