.form-item-pass {
  position: relative;
}
.view-pass {
  position: absolute;
  right: 16px;
  top: 34px;
  opacity: 0.5;
}
.view-pass:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-outline {
    box-shadow: none;
    border: 1px solid #f16759;
    text-align: center;
    color: #f16759;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.9rem;
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    display: block;
    border-radius: 5px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    margin-top: 0.7em;
    transition: all 0.2s ease-in-out;
    line-height: 1.8;
}